<div class="sidebar-new">
  <h2>Firmeza</h2>

  <a href="/dashboard" class="<%= activePage === 'dashboard' ? 'active' : '' %>">
    <i class="ri-home-4-fill"></i> Dashboard
  </a>

  <a href="/clients" class="<%= activePage === 'clients' ? 'active' : '' %>">
    <i class="ri-user-fill"></i> Clients
  </a>

  <a href="/developers" class="<%= activePage === 'developers' ? 'active' : '' %>">
    <i class="ri-user-fill"></i> Developers
  </a>

  <a href="/services" class="<%= activePage === 'services' ? 'active' : '' %>">
    <i class="ri-user-fill"></i> Services
  </a>

  <a href="#" class="<%= activePage === 'agreements' ? 'active' : '' %>">
    <i class="ri-file-list-3-line"></i> Agreements
  </a>

  <a href="#" class="<%= activePage === 'products' ? 'active' : '' %>">
    <i class="ri-box-3-line"></i> Products
  </a>

  <a href="/auth/logout">
    <i class="ri-logout-box-r-line"></i> Logout
  </a>
</div>